## Deliverable 2. Create a Customer Travel Destinations Map.

In [3]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [6]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Jalu,LY,29.0331,21.5482,85.50,10,0,10.58,clear sky
1,1,Rikitea,PF,-23.1203,-134.9692,76.17,64,45,8.79,scattered clouds
2,2,Kuching,MY,1.5500,110.3333,77.22,100,40,0.00,scattered clouds
3,3,Punta Arenas,CL,-53.1500,-70.9167,44.11,70,25,26.91,scattered clouds
4,4,Nikolskoye,RU,59.7035,30.7861,31.91,95,71,1.63,broken clouds

In [7]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
minimum_temp = float(input("What is the minimum temperature desired in this trip? "))
maximum_temp = float(input("What is the maximum temperature desired for this trip? "))

What is the minimum temperature desired in this trip? 80
What is the maximum temperature desired for this trip? 105

In [14]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
cities_to_go_to_df = city_data_df.loc[(city_data_df["Max Temp"] <= maximum_temp) &
                                       (city_data_df["Max Temp"] >= minimum_temp)]
cities_to_go_to_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Jalu,LY,29.0331,21.5482,85.50,10,0,10.58,clear sky
7,7,Monteagudo,BO,-19.8167,-63.9833,87.28,37,76,5.35,broken clouds
8,8,Buraydah,SA,26.3260,43.9750,84.79,9,98,4.56,overcast clouds
9,9,Hithadhoo,MV,-0.6000,73.0833,83.61,69,31,4.76,scattered clouds
12,12,Presidente Medici,BR,-11.1753,-61.9014,85.19,67,50,2.15,scattered clouds
22,22,San Patricio,US,28.0170,-97.5169,80.17,47,0,10.80,clear sky
25,25,Inirida,CO,3.8653,-67.9239,81.86,80,99,3.47,overcast clouds
31,31,Manuk Mangkaw,PH,4.8000,119.8500,81.16,75,99,7.47,overcast clouds
35,35,Ambon,ID,-3.6954,128.1814,80.80,71,99,4.32,overcast clouds
41,41,Kalmunai,LK,7.4167,81.8167,80.08,78,6,4.03,clear sky

In [15]:
# 4a. Determine if there are any empty rows.
cities_to_go_to_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [17]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
cities_clean_df = cities_to_go_to_df.dropna()
cities_clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Jalu,LY,29.0331,21.5482,85.50,10,0,10.58,clear sky
7,7,Monteagudo,BO,-19.8167,-63.9833,87.28,37,76,5.35,broken clouds
8,8,Buraydah,SA,26.3260,43.9750,84.79,9,98,4.56,overcast clouds
9,9,Hithadhoo,MV,-0.6000,73.0833,83.61,69,31,4.76,scattered clouds
12,12,Presidente Medici,BR,-11.1753,-61.9014,85.19,67,50,2.15,scattered clouds
...,...,...,...,...,...,...,...,...,...,...
654,654,Acari,PE,-15.4311,-74.6158,81.16,55,40,10.20,scattered clouds
655,655,Carira,BR,-10.3608,-37.7011,89.13,36,64,15.59,broken clouds
657,657,Katherine,AU,-14.4667,132.2667,80.92,44,30,8.05,scattered clouds
658,658,Ocos,GT,14.5094,-92.1933,91.58,61,6,13.02,clear sky
666,666,Pauini,BR,-7.7136,-66.9764,88.30,51,51,2.59,broken clouds

In [19]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = cities_clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Jalu,LY,85.50,clear sky,29.0331,21.5482,
7,Monteagudo,BO,87.28,broken clouds,-19.8167,-63.9833,
8,Buraydah,SA,84.79,overcast clouds,26.3260,43.9750,
9,Hithadhoo,MV,83.61,scattered clouds,-0.6000,73.0833,
12,Presidente Medici,BR,85.19,scattered clouds,-11.1753,-61.9014,
22,San Patricio,US,80.17,clear sky,28.0170,-97.5169,
25,Inirida,CO,81.86,overcast clouds,3.8653,-67.9239,
31,Manuk Mangkaw,PH,81.16,overcast clouds,4.8000,119.8500,
35,Ambon,ID,80.80,overcast clouds,-3.6954,128.1814,
41,Kalmunai,LK,80.08,clear sky,7.4167,81.8167,

In [20]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Hotel not found...Skipping.")

Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.

In [21]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[(hotel_df["Hotel Name"]!='')]
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Jalu,LY,85.50,clear sky,29.0331,21.5482,صاحبة الفخامة
7,Monteagudo,BO,87.28,broken clouds,-19.8167,-63.9833,"Residencial ""OLIVIA"""
8,Buraydah,SA,84.79,overcast clouds,26.3260,43.9750,Mövenpick Qassim
9,Hithadhoo,MV,83.61,scattered clouds,-0.6000,73.0833,Scoop Guest House
12,Presidente Medici,BR,85.19,scattered clouds,-11.1753,-61.9014,Oliveira Palace Hotel

In [22]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [24]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [25]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))